* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-columns: 18% 60% 18% ;
    column-width: 30px;
    gap: 2%;
    height: 150%;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background: rgba(247, 247, 247, 0.3)
}

#left-column{
    display: grid;
    height: auto;
    grid-template-rows: repeat(4, 25%);
}

#right-column{
    height: auto;
    width: 100%;
}

