* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-columns: auto 60% auto;
    column-width: 30px;
    gap: 30px;
    height: 600px;
}

#left-column{
    
}