* { 
    padding: 0px;
    margin: 0px;
    
}

#container{
    display: flexbox;
    gap: 2%;
    height: 100vmax;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: black 5px solid;
    border-radius: 30px;
    background: rgba(247, 247, 247, 0.3)
}

