dt{
    font-size: 30px;
    color: black;
}

.list-div{
    border: white 2px dashed;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}

.project-title-container{
    border: none;
    display: inline-block; 
}

.project-section-title{
    font-size: 20px;
    text-align: center;
}



