:root{
    --header-text: {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
      }
}

body{
    background-color: black;
}
    
p{
    color:black;
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6{    
    color: black;
}

dt{
    font-size: 30px;
    color: black;
}

.list-div{
    border: white 2px dashed;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}

/* Title section */
#title{
    font-size: 52px;
    text-align: center;
    font: var(--header-text);
    color: black;
    padding: 10px;
    margin: 10px;    
}

#title-container{
    margin: auto;
    max-width: 50%;
    border: black 5px solid;
    border-radius: 30px;
    margin-bottom: 10px;
    background: rgba(247, 247, 247, 0.3)
}

#Welcome3D-container{
    margin: auto;
    max-width: 60%;
    min-height: 10%;
}


/* About Me section */
#aboutme-section{
    display: flex;
    flex-direction: row;
}

#aboutme-img{
    display: block;
    width: 300px;
    height: 300px;
}

/* Project Section */
.project-title-container{
    border: none; 
}

.project-section-title{
    font-size: 20px;
    text-align: center;
}

.project-section-description{
    text-align: center;
}





