#container{
    display: grid;
    grid-template-rows: auto auto auto;
    column-width: 30px;
    gap: 30px;
    height: 3000px;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    background: rgba(247, 247, 247, 0.3)
}

.project-title{
    text-align: center;
}

.project-blurb-container{
    text-align: center;
    padding: 10px;
}

