#container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    column-width: 30px;
    gap: 30px;
    height: 1000px;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(18, 4, 31);
}