#container{
    display: grid;
    grid-template-rows: auto auto auto;
    column-width: 30px;
    gap: 30px;
    height: 2000px;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(18, 4, 31);
}

.project-title{
    text-align: center;
}

.project-blurb-container{
    text-align: center;
    padding: 10px;
}

