body{
    background-color: black;
    }
    
p{
    color:black;
}
body {        
    background-color: black;
}
    
div{
    border: blueviolet 5px solid;
}

h1,h2,h3,h4,h5,h6{    
    color: black;
}

#title{

    font-size: 52px;
    color: black;
    padding: 10px;
    margin: 10px;    
}

#title-container{
    display: inline-block;
    margin-left: 31.5%;
    margin-bottom: 10px;
}
